{% extends "base.html" %}
{% load static %}
{% block content%}


<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        {% for first_main_header_picture in first_main_header_pictures %}
        <div class="single-slider" style="background-image:url('{{ first_main_header_picture.main_header_img.url }}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="text">
                            <h1 style="color: #005200;">{{ first_main_header_picture.main_header_title }}</h1><br>
                            <h5>{{ first_main_header_picture.main_header_description }} </h5>
                            <div class="button">
                                <a href="{% url 'dala_yps' %}" class="btn">Join Us</a>
                                <a href="{% url 'contact_us' %}" class="btn primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Closing the single-slider div here -->
        {% endfor %}
    </div> <!-- Closing the hero-slider div here -->
</section>
<!--/ End Slider Area -->




		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<!--<span>Lorem Amet</span>-->
										<h4>Our Mission</h4>
										<p>At the Pharmaceutical Society of Nigeria - Young Pharmacists Group (PSN-YPG),
											we are committed to empowering Young Pharmacists to become leaders and
											catalysts for positive change in the profession and society. Through collaboration,
											innovation, and professional excellence, we equip individuals to drive impact at local,
											national, and global levels, ensuring sustainable development and progress in healthcare.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>Our Vision</h4>
										<p>1. We envision a future where Young Pharmacists play a pivotal role in
											advancing the nation’s health, leveraging their expertise to improve
											patient care and public health outcomes.<br>
											2. We are dedicated to ensuring that Pharmacy remains a cornerstone of healthcare,
											continuously evolving to meet the needs of a dynamic health system.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<h4>Core Value</h4>
										<p>1. Innovation <br>2. Excellence <br>3. Leadership <br>4. Collaboration<br>5. Advocacy <br>6. Integrity <br>7. Community Impact
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->





		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h3 style="color: #D4AF4B;font-family: sans-serif;">Pharmaceutical Society of Nigeria – Young Pharmacists Group (PSN-YPG)</h3>
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Who We Are</h3>
							<p>At PSN-YPG, we are the heart beat of the next generation of pharmacists in Nigeria.
								Our network is made up of young, dynamic professionals—pharmacists who are either
								35 years or younger or have graduated from an accredited pharmacy school within
								the last five years. As the youth arm of the Pharmaceutical Society of Nigeria
								(PSN), we are committed to innovation, advocacy, and leadership in shaping the
								future of healthcare.<br><br>

								Our mission? To empower Young Pharmacists by equipping them with the knowledge,
								skills, and opportunities to lead, innovate, and transform pharmacy
								practice. Through policy advocacy, professional development programs,
								mentorship, and strategic partnerships, we ensure that Young Pharmacists
								have a voice in the evolving healthcare landscape.
								Whether you’re looking to connect, grow, or make an impact, PSN-YPG is
								your platform to engage, collaborate, and drive meaningful change in public health.
							</p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Innovation. </li>
										<li><i class="fa fa-caret-right"></i>Excellence.</li>
										<li><i class="fa fa-caret-right"></i>Leadership.</li>
										<li><i class="fa fa-caret-right"></i>Collaboration. </li>
									</ul>
								</div>
								<div class="col-lg-5">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i> Advocacy </li>
										<li><i class="fa fa-caret-right"></i> Integrity</li>
										<li><i class="fa fa-caret-right"></i> Community Impact</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 450px; width: 350px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
					<div class="btn-wrapper">
						<a href="{% url 'whoweare' %}"style="color: fff;" class="btn btn-primary learn-more-btn">Learn More</a>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->

				<!-- Start Blog Area -->
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3 class="what-weve-been-up-to" style="color: #D4AF4B;">Recent Activities</h3>
                    <img src="{% static 'img/section-img.png'%}" alt="#">
                </div>
            </div>
        </div>
        <div class="row">
            {% for news_event_update in news_event_updates %}
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="{{news_event_update.psnypg_news_and_event_img.url}}" style="height: 210px;border-radius:10px;" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="news-content">
                            <div class="date">{{news_event_update.psnypg_news_and_event_date}}</div>
                            <h4 style="color: #D4AF4B;font-family: sans-serif;"><a href="{% url 'news_update_article' news_event_update.pk %}">{{news_event_update.psnypg_news_and_event_title | truncatechars:30}}</a></h4>
                            <p class="text" style="color: #fff;">{{news_event_update.psnypg_news_and_event_description | truncatechars:70}}</p>
                        </div>
                    </div>
                </div><br>
                <!-- End Single Blog -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Blog Area -->




				<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">10</span>
								<p>Years Active</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">30,000</span>
								<p>Young Pharmacists</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-simple-smile"></i>
							<div class="content">
								<span class="counter">4000</span>
								<p>Community Outreach Programs</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">27</span>
								<p>Key Partnerships</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->



		<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h3 style="color: #D4AF4B;font-family: sans-serif;">Meet the 2024/2025 National Central Executive Council
							</h3>
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							{% for post in object_list %}
							<div class="single-pf">
								<img src="{{ post.excos_img.url }}" style="height: 300px;border-radius:10px;" alt="#">
								<a href="{% url 'excos_user'%}" class="btn">View Details</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->




			<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h3 style="color: #D4AF4B;font-family: sans-serif;">Our Strategic Partners
							</h3>
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							{% for logo_sponsor in logo_sponsors %}
							<div class="single-pf">
								<img src="{{ logo_sponsor.logo_img.url }}" style="height: 200px;border-radius:10px;" alt="#">
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->



		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h3 style="color: #D4AF4B;font-family: sans-serif;">Have questions or want to collaborate? Reach out to us directly.</h3>
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<!-- Form -->
						<form class="form" method="post" action="{% url 'contact_us'%}">
							{%  csrf_token %}
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="message-name" placeholder="Name" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="email" name="message-email" placeholder="Email" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="message-phone" placeholder="Phone" required="">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Subject</span>
											<ul class="list">
												<li data-value="1" class="option selected ">General Enquiry</li>
												<li data-value="2" class="option">Recommendation Letter</li>
												<li data-value="3" class="option">Make a Complaint</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<textarea name="message" placeholder="Your Message" required=""></textarea>
									</div>
								</div>
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Contact PSN-YPG</button>
										</div>
									</div>
								</div>
							</div>
							</div>
						</form>
						<!--/ End Form -->
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="{% static 'img/contact-img.png'%}"style="border-radius:10px;" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->

		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Subscribe to Our Newsletter</h6>
							<p class="">Stay updated with our monthly news, initiatives and opportunities for Young Pharmacists (YPs). Never miss a beat..</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="{% url 'message'%}" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<a href="{% url 'message'%}">
								<button class="btn">Subscribe</button>
								</a>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->



{% endblock %}