 
{% extends "base.html" %}
{% load static %}
{% block content%}





<section class="section bgcolor1">
    <div class="container">
        <a href="{% url 'contact' %}">
            <div class="col-md-8">
                <p class="lead"style="font-family: Georgia;">  PSN RIVERS ARTICLE PAGE </p>
            </div>
        </div><!-- end row -->
        </a>
    </div><!-- end container -->  
    
    <a href="https://wa.me/+2348124928163?text=Hi Deus Magnus Limited?" target="_blank" style="position: fixed; bottom: 30px; right: 20px; z-index: 9999;">
        <img src="{% static 'images/whatsapp.png' %}" alt="Chat with us on WhatsApp" style="width: 60px; height: 60px;">
    </a>

</section><br><br><br>

        {% endblock %}