{% extends "base.html" %}
{% load static %}
{% block title %} News & Events  {% endblock %}
{% block content %}



<!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex ">
            <div class="col-lg-8">          
                <p ><a href="index.html"class="text-white"> Home</a> > News & Events</p>
              <h1>News & Events</h1>
              <p class="mb-0">Stay updated with the latest news, announcements, and upcoming events from <br>PSN Rivers State.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->




{% endblock %}