 
{% extends "base.html" %}
{% load static %}
{% block title %} Article{% endblock %}
{% block content%}


<div class="page-title py-5 bg-success mb-5">
  <div class="container text-white">
    <p><a href="/" class="text-white-50 text-decoration-none">Home</a> <span class="mx-2">></span> Contact</p>
    <h3 class="display-4 fw-bold">{{ article.newsandevents_psnriver_title }}</h3>
    <p class="lead mb-0">Get in touch with PSN Rivers State Branch. We're here to help.</p>
  </div>
</div>


<div class="container my-5" style="max-width: 900px;">

  <!-- Featured Image -->
<img src="{{ article.newsandevents_psnriver_img.url }}"
     class="img-fluid rounded mx-auto d-block"
     style="max-width: 700px;"
     alt="Article Image"><br>

  <!-- Share -->
  <div class="d-flex align-items-center gap-3 mb-4">
    <span class="text-muted small">Share this article:</span>
    <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
    <a href="#" class="text-dark"><i class="bi bi-twitter-x"></i></a>
    <a href="#" class="text-dark"><i class="bi bi-whatsapp"></i></a>
    <a href="#" class="text-dark"><i class="bi bi-share"></i></a>
  </div>



  <!-- Article Content -->
  <div class="mb-4">
    <p>{{ article.newsandevents_psnriver_description}}</p>

    <p>
      {{ article.newsandevents_psnriver_title_2}}
    </p>

    <!-- List -->
    <ol class="ps-3">
      <li class="mb-3">
       
       {{ article.newsandevents_psnriver_description_a}}
      </li>

      <li class="mb-3">
       {{ article.newsandevents_psnriver_description_b}}
      </li>

      <li class="mb-3">
        {{ article.newsandevents_psnriver_description_c}}
      </li>

      <li class="mb-3">
        {{ article.newsandevents_psnriver_description_d}}
      </li>

    <li class="mb-3">
        <strong> {{ article.newsandevents_psnriver_title_3}}</strong><br><br>
       {{ article.newsandevents_psnriver_description_3}}
      </li>
    </ol>


    <li class="mb-3">
        <strong> {{ article.newsandevents_psnriver_title_4 }}</strong><br><br>
       {{ article.newsandevents_psnriver_description_4}}
      </li>
    </ol>

  </div>

  <!-- Divider -->
  <hr>

<!-- Back Button -->
<div class="mt-4">
  <a href="javascript:history.back()" class="btn btn-outline-secondary">
    Back
  </a>
</div>


</div>



        {% endblock %}