{% extends "base.html" %}
{% load static %}
{% block title %} News & Events  {% endblock %}
{% block content %}

<div class="page-title py-5 bg-success mb-5">
  <div class="container text-white">
    <p><a href="/" class="text-white-50 text-decoration-none">Home</a> <span class="mx-2">></span> News & Events</p>
    <h1 class="display-4 fw-bold"style="font-size: 35px;">News & Events</h1>
    <p class="mb-0" style="font-size: 18px;">
  Stay updated with the latest news, announcements, and upcoming events from PSN Rivers State.
</p>

  </div>
</div>


    

  <section class="py-5 bg-light">
  <div class="container">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <a href="{% url 'news_events' %}" class="btn btn-outline-secondary">
          News
        </a>

      <a href="{% url 'upcoming_news_events' %}" class="btn btn-outline-success ">
       Upcoming Events </i>
      </a>
      </div>
    </div>

    <!-- Cards -->
    <div class="row g-4">
      {% for post in object_list %}
      <div class="col-lg-4">
        <div class="card h-100 border-0 rounded-4 shadow-sm news-card position-relative">
          <span class="badge bg-warning text-dark position-absolute news-badge rounded-pill px-3 py-2">
            {{ post.newsandevents_psnriver_status }}
          </span>
          <img src="{{ post.newsandevents_psnriver_img.url }}" class="card-img-top rounded-top-4 news-img" alt="">
          <div class="card-body p-4">
            <div class="d-flex align-items-center text-muted mb-2">
              <i class="bi bi-calendar-event me-2"></i>
              <small>{{ post.newsandevents_psnriver_publish_date }}</small>
            </div>
            <h5 class="fw-bold">
             {{ post.newsandevents_psnriver_title }}
            </h5>
            <p class="text-muted">
              {{ post.newsandevents_psnriver_description|truncatechars:120}}
            </p>
            <a href="{% url 'detail' post.pk %}" class="text-success fw-semibold text-decoration-none">
              Read more <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  <center><br><br>
    <div class="about-actions justify-content-center">
      <a href="#" class="btn btn-outline-success about-btn">
        Load More Articles
      </a>
    </div>
  </center>
</section>



{% endblock %}